<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

</head>
<body>

<div th:replace="layout/fragments/nav.html :: nav"></div>

<input id="hiddenId" type="hidden" th:value="${article.articleId}">

<div class="bg-image text-center shadow-1-strong text-white" id="background"
     style="flex: 1;background-image: url('/image/tomato.jpg'); height:10vh; background-repeat:no-repeat; background-size:cover;">
</div>
<div class="text-center" style="margin: 2.5rem 0;">
    <h1 style="color: darkgreen;">자유게시판</h1>
    <h6>토마토잎 질병에 대한 정보를 자유롭게 작성해주세요~</h6>
    <hr>
</div>
<div class="container" style="width: 70%; margin-to: 1rem">
    <table class="table mb-1">
        <thead>
        <tr>
            <th scope="col"><h1 style="font-family: 'Malgun Gothic', dotum, '돋움', sans-serif" th:text="${article.title}">title</h1></th>
            <td>
                <div th:if="${article.articleWriter} == ${#authentication.name}">
                    <button style="display: inline-block; float: right; margin-right: 0.5rem"
                            type="button" class="btn btn-outline-danger" id="deleteBtn">삭제</button>
                    <button style="display: inline-block; float: right;margin-right: 0.2rem" type="button" class="btn btn-outline-success"
                            th:onclick="|location.href='@{/article/edit(articleId=${article.articleId})}'|">수정</button>
                </div>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr style="font-size: 24px">
            <th scope="row" th:text="${article.articleWriter} +  '&emsp; | &emsp;'  + ${article.updateTime}">작성자  |  작성시간</th>
    <!--        <td><p style="margin-left: 23rem"th:text = "'추천 수 : ' + ${comments.size()}"></p></td>-->
            <td style="margin-left: 12rem;"><h6 th:text = "'댓글 수 : ' + ${comments.size()}"></h6><h6 th:text = "'조회 수 : ' + ${article.view}"></h6></td>
        </tr>
        <tr>
            <td colspan="2" style="height:14rem; font-size: 24px"><pre th:text="${article.content}">내용</pre></td>
        </tr>
        </tbody>
    </table>
<!--댓글 출력-->
    <table class="table">
        <tbody>
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.commentWriter}" th:class="col-sm-2" style="word-break: break-all" disabled>작성자</td>
            <td th:text="${comment.updateTime}" th:class="col-sm-2">작성일</td>
            <td th:text="${comment.content}"th:class="col-sm-7" style="word-break: break-all">내용</td>
            <td th:class="col-md-1">
                <div>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul th:if="${comment.commentWriter} == ${#authentication.name}" class="dropdown-menu">
                        <li><a class="dropdown-item" th:id="commentSelect" data-bs-toggle="modal" data-bs-target="#updateModal" th:onclick="commentSelectFunc([[${comment.commentId}]], [[${comment.commentWriter}]], [[${comment.content}]])">수정</a></li>
                        <li><a class="dropdown-item" th:id="commentDelete" th:onclick="commentDeleteFunc([[${comment.commentId}]])">삭제</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
<!--    댓글 입력폼-->
    <form style="text-align: center; width: 60%; margin: 0 auto;" th:method="post">
        <div class="mb-3">
            <input class="form-control form-control-sm" type="text" th:value="${commentWriter}" aria-label=".form-control-sm example" id="commentWriter" disabled>
            <textarea class="form-control form-control-sm" id="commentContent" rows="3"  placeholder="댓글 입력"></textarea>
        </div>
        <p>
            <button class="btn btn-outline-primary btn-lg" type="button" id="commentBtn"
                    style="font-size:14px; width: 90px; height: 40px; margin-right:1rem">
                댓글작성
            </button>
        </p>
    </form>
</div>

<!-- Modal -->

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">댓글 수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:method="post">
                    <div class="mb-3">
                        <input id="commentUpdateId" th:type="hidden" value="">
                        <input class="form-control form-control-sm" type="text" aria-label=".form-control-sm example" id="commentUpdateWriter" value="" disabled>
                        <textarea class="form-control form-control-sm" id="commentUpdateContent" rows="3"  value=""></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" th:id="commentUpdateBtn">수정</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>


<footer th:replace="layout/fragments/footer.html :: footer"></footer>

</body>

<script>
    const submitBtn = document.querySelector("#commentBtn");

    submitBtn.addEventListener("click", function(){
        const comment = {
            articleId : article_Id,
            commentWriter : document.querySelector("#commentWriter").value,
            content : document.querySelector("#commentContent").value
        }
        console.log(comment)

        const url = `/article/${article_Id}/comment-add`;
        console.log(url);

        if(comment.commentWriter != "" && comment.content != ""){
            fetch(url,{
                method: "POST",
                body : JSON.stringify(comment),
                headers : {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                const msg = (response.ok) ? "댓글이 등록되었습니다" : "오류 발생"
                alert(msg);

                window.location.reload();
            })
        }
        else{
            const msg = "공백이 있습니다"
            alert(msg)
        }
    })

    const deleteBtn = document.querySelector("#deleteBtn");
    const article_Id = document.querySelector("#hiddenId").value;

    deleteBtn.addEventListener("click", function(){
        const url = "/article/delete/" + article_Id

        const result = confirm("글을 삭제하겠습니까")
        if(result){
            fetch(url,{
                method: "DELETE",
            }).then(response => {
                const msg = (response.ok) ? "글이 삭제되었습니다" : "오류 발생"
                alert(msg);

                window.location.href ="/article";
            })
        }
    })

    function commentDeleteFunc(comment_id){
        const url = "/comment-delete/"+comment_id;
        console.log(url);

        const result = confirm("글을 삭제하겠습니까")
        if(result){
            fetch(url,{
                method: "DELETE"
            }).then(response => {
                const msg = (response.ok) ? "글이 삭제되었습니다" : "오류 발생"
                alert(msg);

                window.location.href ="/article/"+article_Id;
            })
        }
    }

    function commentSelectFunc(comment_id, writer, content){
        $('#commentUpdateId').val(comment_id)
        $('#commentUpdateWriter').val(writer)
        $('#commentUpdateContent').val(content)
    }

    const commentUpdateBtn = document.querySelector("#commentUpdateBtn");
    commentUpdateBtn.addEventListener("click", function(){
        const comment = {
            articleId : article_Id,
            commentId : document.querySelector("#commentUpdateId").value,
            commentWriter : document.querySelector("#commentUpdateWriter").value,
            content : document.querySelector("#commentUpdateContent").value
        }

        console.log(comment)

        const url = "/comment-edit/"+ comment.commentId
        console.log(url);

        if(comment.commentWriter != "" && comment.content != ""){
            fetch(url,{
                method: "PATCH",
                body : JSON.stringify(comment),
                headers : {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                const msg = (response.ok) ? "댓글이 수정되었습니다" : "오류 발생"
                alert(msg);

                window.location.reload();
            })
        }
        else{
            const msg = "공백이 있습니다"
            alert(msg)
        }
    })
</script>

